* {
    margin: 0;
  }
  
  .App {
    background-color: #fafafa;
  }
  
  .app_header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }
  
  .app_header_logo {
    object-fit: contain;
    height: 40px;
  }
  
  .app_signup {
    display: flex;
    flex-direction: column;
  }
  
  .app__bodyContainer {
    display: flex;
  }
  
  .app__posts {
    padding: 20px;
  }